

<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css/' %}">
<script src="{% static 'js/scripts.js' %}"></script>


<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Instalaciones EF Souto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
    </head>
    <body class="bodyindex"></body>
        
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <!--<img class="logosouto" src="{% static 'images/logosouto.png' %}" alt="..." /></div>-->
            <div class="container px-5">                
                <a class="navbar-brand" style="color: orange ;"href="#!"></a>               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="active"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">: : Inicio </a></li>
                        <li class="active"><a class="nav-link " href="{% url 'sobre-nosotros' %}">Sobre nosotros</a></li>
                        <li class="active"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                        <li class="active"><a class="nav-link" href="{% url 'servicios' %}">Fotos-instalaciones</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr style="height:4px;border:none;margin-top:0.5px;margin:0,5px" class="barra3" />
        <!-- Page Content-->
        <a title="" href="/"><img class="logosouto" src="{% static 'images/logosouto.png' %}" alt="..." /></div></a>
        
        <br>
        <br>
        <br>
        <br>

            <p class="negrita" > AVISO LEGAL Y POLITICA DE PRIVACIDAD</p>
             <p class="negrita" >AVISO LEGAL</p>
            <pre class="politica"> INSTALACIONES ELECTRICIDAD Y FONTANERIA SOUTO SLU en cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de
             la Información y de Comercio Electrónico, le informa:
            - Su denominación social es INSTALACIONES ELECTRICIDAD Y FONTANERIA SOUTO SLU
            - Su NIF es B15560360
            - Su domicilio se ubica en LUGAR VIDALOISO 3, BASTAVALES, 15280 BRIÓN (A CORUÑA)
            - Su teléfono de contacto es 670650208
            - Y dispone de la siguiente dirección de correo electrónico:          instalaciones.souto@gmail.com</pre>
            
             <p class="negrita"> POLITICA DE PRIVACIDAD</p>
             <pre class="politica">Los datos personales vinculados a esta web respetan las exigencias del Reglamento (UE) 2016/679 RGPD y LOPDGDD 3/2018.</pre>
            
             <p class="negrita" >¿Quién es el Responsable del tratamiento?</p>
             <pre class="politica">INSTALACIONES ELECTRICIDAD Y FONTANERIA SOUTO SLU 
            NIF: B15560360
            Dirección: Lugar Vidaloíso 3, Bastavales, 15280 Brión, A Coruña. 
            Teléfono: 670650208
            Correo electrónico: instalaciones.souto@gmail.com</pre>
            
            <p class="negrita" >¿Con que finalidad tratamos sus datos personales, por qué podemos tratarlos y cuánto tiempo los guardaremos?</p>
            <pre class="politica">Gestionar y atender a las solicitudes de información, dudas, consultas, sugerencias o quejas. Podemos tratar sus datos porque tenemos
             un interés legítimo en atender a las comunicaciones necesarias para poder llevar a cabo nuestra actividad. Sus datos se conservarán 
             hasta que deje de existir el interés legítimo y/o solicite su supresión.</pre>
            
             <p class="negrita" >¿A quién se comunicarán sus datos?</p>
             <pre class="politica">No se cederán sus datos a terceros. Se podrán comunicar sus datos a nuestros encargados de tratamiento cuando sea necesario para la
             correcta prestación de los servicios contratados. </pre>
            
             <p class="negrita" >¿Se realizarán transferencias internacionales de datos?</p>
             <pre class="politica"> No se realizarán transferencias internacionales de datos.</pre>
            
            <p class="negrita" >¿Cuáles son sus derechos cuando nos facilita sus datos personales?</p>
             <pre class="politica"> Acceso: derecho a obtener confirmación sobre si estamos tratando datos personales suyos o no, a saber, cuáles son, para que se usan,
             cuanto tiempo se van a guardar, el origen de estos y si se han comunicado o se van a comunicar a un tercero.
            - Rectificación: derecho a solicitar la rectificación de los datos inexactos y a que se completen los datos personales incompletos.
            - Supresión: derecho a solicitar la supresión de los datos de carácter personal cuando sean inadecuados, excesivos o ya no sean necesarios
             para los fines para los que fueron recogidos, incluido el derecho al olvido.
            - Oposición: derecho a oponerse, en determinadas circunstancias, a que se realice el tratamiento de sus datos personales o a solicitar que se cese en el tratamiento.
            - Limitación del Tratamiento: derecho a solicitar, en las circunstancias establecidas legalmente, que no se traten sus datos más allá de la mera conservación de estos.
            - Derecho a retirar el consentimiento: podrá retirar su consentimiento en cualquier momento dirigiéndose por escrito a la dirección del responsable del tratamiento, pero 
            los tratamientos que ya se hayan efectuado continuarán siendo válidos.</pre>
            
            <p class="negrita" > ¿Dónde podrá ejercitar sus derechos?</p>
            <pre class="politica">El ejercicio de derechos deberá efectuarse por escrito dirigiéndose a la dirección o a través del correo electrónico indicado al inicio de esta política de privacidad.
             Pone a su disposición modelos para la realización del ejercicio de derechos que puede solicitar en la dirección anteriormente indicada. Para más información: www.agpd.es.</pre>
            
             <p class="negrita" >¿Derecho de reclamación ante la Autoridad de Control?</p>
             <pre class="politica">En el caso de que no se hayan respetado sus derechos puede presentar una reclamación dirigiéndose por escrito a la Agencia Española de Protección de Datos sita en 
            la calle Jorge Juan, 6-28001-Madrid o utilizar la sede electrónica: https://sedeagpd.gob. En ambos casos, deberá acompañar la documentación pertinente.</pre>
            
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        

            <body>
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Mensaje de cookies</title>
                    
                </head>
                <body>
                    <div class="cookies-box">
                        <div class="container-cookies">
                            <div class="paragraphs">
                                <p>Política de cookies</p> 
                                <p> Esta página web utiliza únicamente cookies técnicas. Estas cookies necesarias se almacenan en su navegador y son esenciales para el funcionamiento de la web.</p>
                                <p> Puede obtener más información consultando la <a class="btn btn-primary" href="#!">Política de Privacidad</a></p>                        
                                    
                            </div>
                
                            <div class="buttons">
                                <button id="aceptar_cookie">Aceptar</button>
                                <button id="close">Cerrar</button>
                            </div>
                        </div>
                    </div>
                
                    <div class="modal">
                        <div class="titulo">
                            <h2>Politicas de cookies</h2>
                            <button id="close_modal">X</button>
                        </div>
                        <div class="parrafo">
                            <p>Política de cookies
                                La presente política de cookies tiene por finalidad informarle de manera clara y precisa sobre las cookies que se utilizan en la página web de Instalaciones Electricidad y Fontanería Souto S.l.U.
                                
                                ¿Qué son las cookies?
                                
                                Una cookie es un pequeño fragmento de texto que los sitios web que visita envían al navegador y que permite que el sitio web recuerde información sobre su visita, como su idioma preferido y otras opciones, con el fin de facilitar su próxima visita y hacer que el sitio le resulte más útil. Las cookies desempeñan un papel muy importante y contribuyen a tener una mejor experiencia de navegación para el usuario.
                                
                                Tipos de cookies
                                
                                Según quién sea la entidad que gestione el dominio desde dónde se envían las cookies y se traten los datos que se obtengan, se pueden distinguir dos tipos: cookies propias y cookies de terceros.
                                
                                Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.
                                
                                Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de publicidad comportamental.
                                
                                Para más información a este respecto puede consultar la Guía sobre el uso de las cookies de la Agencia Española de Protección de Datos.
                                
                                Cookies utilizadas en la web
                                
                                A continuación se identifican las cookies que están siendo utilizadas en este portal así como su tipología y función:
                                
                                La página web de Instalaciones Electricidad y Fontanería Souto S.l.U. utiliza Google Analytics, un servicio de analítica web desarrollada por Google, que permite la medición y análisis de la navegación en las páginas web. En su navegador podrá observar cookies de este servicio. Según la tipología anterior se trata de cookies propias, de sesión y de análisis.
                                
                                A través de la analítica web se obtiene información relativa al número de usuarios que acceden a la web, el número de páginas vistas, la frecuencia y repetición de las visitas, su duración, el navegador utilizado, el operador que presta el servicio, el idioma, el terminal que utiliza y la ciudad a la que está asignada su dirección IP. Información que posibilita un mejor y más apropiado servicio por parte de este portal.
                                
                                Para garantizar el anonimato, Google convertirá su información en anónima truncando la dirección IP antes de almacenarla, de forma que Google Analytics no se usa para localizar o recabar información personal identificable de los visitantes del sitio. Google solo podrá enviar la información recabada por Google Analytics a terceros cuanto esté legalmente obligado a ello. Con arreglo a las condiciones de prestación del servicio de Google Analytics, Google no asociará su dirección IP a ningún otro dato conservado por Google.
                                
                                Otra de las cookies que se descargan es una cookie de tipo técnico denominada JSESSIONID. Esta cookie permite almacenar un identificador único por sesión a través del que es posible vincular datos necesarios para posibilitar la navegación en curso.
                                
                                Por último, se descarga una cookie denominada show_cookies, propia, de tipo técnico y de sesión. Gestiona el consentimiento del usuario para el uso de las cookies en la página web, con el objeto de recordar aquellos usuarios que las han aceptado y aquellos que no, de modo que a los primeros no se les muestre información en la parte superior de la página al respecto.
                                
                                Aceptación de la política de cookies
                                
                                Pulsando el botón Aceptar se asume que usted acepta el uso de cookies.
                                
                                Cómo modificar la configuración de las cookies
                                
                                Usted puede restringir, bloquear o borrar las cookies de Instalaciones Electricidad y Fontanería Souto S.l.U. o cualquier otra página web utilizando su navegador. En cada navegador la operativa es diferente, la función de "Ayuda" le mostrará cómo hacerlo.</p>
                        </div>
                        <div class="aceptar">
                            <button id="aceptar_modal">Aceptar</button>
                        </div>
                    </div>
                    
                </body>
                 
            <script src="{% static 'js/scripto.js' %}"></script>
    
    
    </html>
                