
<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css/' %}">
<script src="{% static 'js/scripts.js' %}"></script>


<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Instalaciones EF Souto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
    </head>
    <body class="bodyindex"></body>
        
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <!--<img class="logosouto" src="{% static 'images/logosouto.png' %}" alt="..." /></div>-->
            <div class="container px-5">                
                <a class="navbar-brand" style="color: orange ;"href="#!"></a>               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="active"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">: : Inicio </a></li>
                        <li class="active"><a class="nav-link " href="{% url 'sobre-nosotros' %}">Sobre nosotros</a></li>
                        <li class="active"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                        <li class="active"><a class="nav-link" href="{% url 'servicios' %}">Fotos-instalaciones</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr style="height:4px;border:none;margin-top:0.5px;margin:0,5px" class="barra3" />
        <!-- Page Content-->
        <a title="" href="/"><img class="logosouto" src="{% static 'images/logosouto.png' %}" alt="..." /></div></a>
        
        <br>
        <br>
        <br>
        <br>

    <div class="margen">
            <li><strong><span style='font-family:"Arial",sans-serif;border:none windowtext 1.0pt;'>POLITICA DE COOKIES</span></strong><span style="font-size:11px;color:black;"><a href="#_msocom_2" id="_anchor_2" language="JavaScript" name="_msoanchor_2"></a>&nbsp;</span></li>
        </ul>
        <p style="margin-bottom:0cm;line-height:18.75pt;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;border:none windowtext 1.0pt;padding:0cm;'>&nbsp;</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>¿Qué son las Cookies?</span></strong></p>
        <pre style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Una cookie es un fichero que se descarga en tu ordenador al acceder a determinadas páginas web.
             Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo, gestionar el acceso de usuarios a zonas restringidas de la web... etc.</span></pre>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>¿Qué cookies se utilizan en la web de INSTALACIONES ELECTRICIDAD Y FONTANERIA SOUTO SLU?</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Cookies necesarias: cookies que son clave para el funcionamiento de una web</span></p>
        <table style="border: none;background:white;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td style="width: 135.85pt;border: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>COOKIE</span></p>
                    </td>
                    <td style="width: 76.4pt;border-top: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);border-bottom: 1pt solid rgb(0, 102, 175);border-image: initial;border-left: none;padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>TIPO</span></p>
                    </td>
                    <td style="width: 70.85pt;border-top: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);border-bottom: 1pt solid rgb(0, 102, 175);border-image: initial;border-left: none;padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>DURACIÓN</span></p>
                    </td>
                    <td style="width: 141.3pt;border-top: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);border-bottom: 1pt solid rgb(0, 102, 175);border-image: initial;border-left: none;padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>DESCRIPCIÓN</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 135.85pt;border-right: 1pt solid rgb(0, 102, 175);border-bottom: 1pt solid rgb(0, 102, 175);border-left: 1pt solid rgb(0, 102, 175);border-image: initial;border-top: none;padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><strong><span style='font-family:"Arial",sans-serif;color:#1B1B1B;background:#DBDBDB;'>sessionid</span></strong></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><strong><span style='font-family:"Arial",sans-serif;color:#1B1B1B;background:#DBDBDB;'>&nbsp;</span></strong></p>
                    </td>
                    <td style="width: 76.4pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>T&eacute;cnicas</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                    </td>
                    <td style="width: 70.85pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>Sesi&oacute;n</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                    </td>
                    <td style="width: 141.3pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>Cookie propia. Tiene la funci&oacute;n de reconocer a los usuarios en el sitio web.</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 135.85pt;border-right: 1pt solid rgb(0, 102, 175);border-bottom: 1pt solid rgb(0, 102, 175);border-left: 1pt solid rgb(0, 102, 175);border-image: initial;border-top: none;padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><strong><span style='font-family:"Arial",sans-serif;color:#1B1B1B;background:#DBDBDB;'>csrftoken</span></strong></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:#1B1B1B;background:#DBDBDB;'>&nbsp;</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:#1B1B1B;background:#DBDBDB;'>&nbsp;</span></p>
                    </td>
                    <td style="width: 76.4pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>Seguridad</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                    </td>
                    <td style="width: 70.85pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>1 a&ntilde;o</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                    </td>
                    <td style="width: 141.3pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(0, 102, 175);border-right: 1pt solid rgb(0, 102, 175);padding: 3.75pt;vertical-align: bottom;">
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
                        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:normal;"><span style='font-family:"Arial",sans-serif;color:black;'>Cookie propia. Tiene la función de ofrecer seguridad al navegar en la página Web y proteger contra ataques maliciosos.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>&nbsp;</span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>¿Por qué podemos usar las cookies?</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>COOKIES NECESARIAS: Estas cookies se encuentran fuera del ámbito de aplicación de la normativa de protección de datos y el usuario no tiene la opción de consentir sobre el uso de estas.</span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>¿Como puedo desactivar o eliminar las Cookies?</span></strong></p>
        <pre style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.
             En los siguientes enlaces encontrará información adicional sobre las opciones de configuración de las cookies en los distintos navegadores.</span></pre>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Internet Explorer:&nbsp;</span><span style="color:black;"><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank"><span style='font-family:"Arial",sans-serif;color:#0070C0;border:none windowtext 1.0pt;padding:0cm;'>http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</span></a></span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>GoogleChrome:</span><span style="color:black;"><a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647"><span style='font-family:"Arial",sans-serif;border:none windowtext 1.0pt;padding:0cm;'>http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</span></a></span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Firefox:&nbsp;</span><span style="color:black;"><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank"><span style='font-family:"Arial",sans-serif;color:#0070C0;border:none windowtext 1.0pt;padding:0cm;'>http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</span></a></span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Safari:&nbsp;</span><span style="color:black;"><a href="http://support.apple.com/kb/ph5042" target="_blank"><span style='font-family:"Arial",sans-serif;color:#0070C0;border:none windowtext 1.0pt;padding:0cm;'>http://support.apple.com/kb/ph5042</span></a></span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;border:none windowtext 1.0pt;padding:0cm;'>&nbsp;</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>¿Existe transferencia internacional de datos?</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>No se realizarán transferencias internacionales de datos.&nbsp;</span></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;border:none windowtext 1.0pt;padding:0cm;'>&nbsp;</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><strong><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;'>Más información relativa al tratamiento de sus datos:</span></strong></p>
        <p style="margin-top:12.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:normal;background:white;vertical-align:baseline;"><span style='font-family:"Arial",sans-serif;color:black;'>Si desea obtener más información sobre quien es el responsable del tratamiento de sus datos, sobre sus derechos y sobre la forma en la que puede ejercitarlos podrá consultar la Política de Privacidad de nuestra página web. </span><span style="color:black;"><a href="https://granviadevigo.com/politica-de-privacidad/" target="_blank"><span style='font-family:"Arial",sans-serif;color:black;border:none windowtext 1.0pt;padding:0cm;text-decoration:none;'>Pol&iacute;tica de Privacidad</span></a></span><span style='font-family:"Arial",sans-serif;color:black;'>&nbsp;de nuestra p&aacute;gina web.&nbsp;</span></p>
        <p style="margin:0cm;line-height:18.75pt;background:white;vertical-align:baseline;"><span style='font-size:15px;font-family:"inherit",serif;'>&nbsp;</span></p>
        <p style="margin-bottom:11.25pt;line-height:normal;background:white;">&nbsp;</p>
      
        </div>